ul{list-style:none;margin:0;}
.pagetation_info{width:100%;height:27px;padding:20px 0;text-align:left}
#page.pagetation_box{float:right;height:100%;padding:0 60px;}
#page.pagetation_box li{float:left;height:100%;border:1px solid #e6ecef;border-radius: 3px;background-color: #f8f8f8;margin:0 5px;padding:0 10px;color:#263238;cursor: pointer;text-align: center;line-height: 22px;}
#page.pagetation_box li a{text-decoration: none;color:#263238;font-size: 12px;}
#page.pagetation_box li.active{background-color: #FF4646;border-color:#FF4646;}
#page.pagetation_box li.active a{color:#fff;}
#page.pagetation_box li.prev,ul.pagetation_box li.next{width:7px;}
#page.pagetation_box li:hover{background-color: #FF4646;border-color:#FF4646;}
#page.pagetation_box li:hover a{color:#fff;}
.num_total{float:right;height:100%;padding-top:3px;padding-bottom:3px;}
.num_total>span{color:#FC5B27;}

#pageAlbum.pagetation_box{float:right;height:100%;padding:0 60px;}
#pageAlbum.pagetation_box li{float:left;height:100%;border:1px solid #e6ecef;border-radius: 3px;background-color: #f8f8f8;margin:0 5px;padding:0 10px;color:#263238;cursor: pointer;text-align: center;line-height: 22px;}
#pageAlbum.pagetation_box li a{text-decoration: none;color:#263238;font-size: 12px;}
#pageAlbum.pagetation_box li.active{background-color: #FF4646;border-color:#FF4646;}
#pageAlbum.pagetation_box li.active a{color:#fff;}
#pageAlbum.pagetation_box li.prev,ul.pagetation_box li.next{width:7px;}
#pageAlbum.pagetation_box li:hover{background-color: #FF4646;border-color:#FF4646;}
#pageAlbum.pagetation_box li:hover a{color:#fff;}
